<div class="m-4 grid-margin stretch-card">
  <div class="card">

    <ul class="nav nav-pills mt-3 ml-3" style="border: none">
      <li class="nav-item">
        <button mat-raised-button routerLink="/starter/manage-students/list">All Students</button>
      </li>
      <li class="nav-item">
        <button mat-raised-button routerLink="/starter/manage-students/new">New Student</button>
      </li>
    </ul>

    <div class="card-body">
      <h4 class="card-title">All Students</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th>Address</th>
            <th>Grade</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>pathum bandara</td>
            <td class="text-center"><label class="badge badge-warning">Pending</label></td>
            <td>2001-08-14</td>
            <td>Male</td>
            <td>0728125203</td>
            <td>pathumB@gmail.com</td>
            <td>9 post, udawatthha hanguranketha</td>
            <td>05</td>
            <td>
              <button mat-mini-fab color="primary">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="ml-2">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>pathum bandara</td>
            <td class="text-center"><label class="badge badge-danger">Inactive</label></td>
            <td>2001-08-14</td>
            <td>Male</td>
            <td>0728125203</td>
            <td>pathumB@gmail.com</td>
            <td>9 post, udawatthha hanguranketha</td>
            <td>05</td>
            <td>
              <button mat-mini-fab color="primary">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="ml-2">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>pathum bandara</td>
            <td class="text-center"><label class="badge badge-success">Active</label></td>
            <td>2001-08-14</td>
            <td>Male</td>
            <td>0728125203</td>
            <td>pathumB@gmail.com</td>
            <td>9 post, udawatthha hanguranketha</td>
            <td>05</td>
            <td>
              <button mat-mini-fab color="primary">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="ml-2">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
