<div class="m-4 grid-margin stretch-card">
  <div class="card">
    <ul class="nav nav-pills mt-3 ml-3" style="border: none">
      <li class="nav-item">
        <button mat-raised-button routerLink="/starter/manage-notices/list">All Notices</button>
      </li>
      <li class="nav-item">
        <button mat-raised-button routerLink="/starter/manage-notices/new">New Notice</button>
      </li>
    </ul>
    <div class="card-body">
      <h4 class="card-title">Manage Notices</h4>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              test title test title test title test title test title test title test title test title test title test title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img mat-card-image class="w-25" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <p class="pt-3">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              test title test title test title test title test title test title test title test title test title test title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img mat-card-image class="w-25" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <p class="pt-3">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>
