<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="/assets/images/logo-text.png" alt="logo">
            </div>
            <h4>Hello! let's get started</h4>
            <h5 class="font-weight-light">Sign in to continue.</h5>

            <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field class="w-100">
                <mat-label>Enter your email</mat-label>
                <input matInput type="email" placeholder="john@example.com" formControlName="email">
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100 mt-2">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput placeholder="******" formControlName="password">
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
              </mat-form-field>
              <div>
                <button class="w-100" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" >SIGN IN</button>
              </div>
            </form>

            <p class="text-center pt-3">or</p>
            <div class="mb-2">
              <button (click)="loginWithGoogle()" class="w-100" mat-raised-button color="warn" type="submit">
                <i class="ti-google mr-2"></i>connect with google
              </button>
              <button class="w-100 mt-2" mat-raised-button color="primary" type="submit">
                <i class="ti-facebook mr-2"></i>connect with facebook
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
