<div class="m-4 grid-margin stretch-card">
  <div class="card">
    <ul class="nav nav-pills mt-3 ml-3" style="border: none">
      <li class="nav-item">
        <button mat-raised-button routerLink="/starter/manage-teachers/list">All Teachers</button>
      </li>
      <li class="nav-item">
        <button mat-raised-button routerLink="/starter/manage-teachers/new">New Teachers</button>
      </li>
    </ul>
    <div class="card-body">
      <h4 class="card-title">All Teachers</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Education</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th>Teaching Subject</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>test teacher</td>
            <td>Degree</td>
            <td>2001-08-14</td>
            <td>Male</td>
            <td>0728125203</td>
            <td>pathumB@gmail.com</td>
            <td>Maths</td>
            <td>
              <button mat-mini-fab color="primary" routerLink="/starter/manage-teachers/update">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="ml-2">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>test teacher</td>
            <td>Degree</td>
            <td>2001-08-14</td>
            <td>Male</td>
            <td>0728125203</td>
            <td>pathumB@gmail.com</td>
            <td>Maths</td>
            <td>
              <button mat-mini-fab color="primary" routerLink="/starter/manage-teachers/update">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="ml-2">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>test teacher</td>
            <td>Degree</td>
            <td>2001-08-14</td>
            <td>Male</td>
            <td>0728125203</td>
            <td>pathumB@gmail.com</td>
            <td>Maths</td>
            <td>
              <button mat-mini-fab color="primary" routerLink="/starter/manage-teachers/update">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="ml-2">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
