.card-purple-clr {
  background-color: #6772e5;
  color: white;
}
.card-lightBlue-clr {
  background-color: #2dcccc;
  color: white;
}
.card-darkBlue-clr {
  background-color: #12b9ff;
  color: white;
}
.card-red-clr {
  background-color: #f25657;
  color: white;
}
